File Edit Options Buffers Tools Help                                                                    
# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
vendor/.git

# SOLR index files:
_*
segments_*
segments.gen
write.lock
alphabetical_browse

tlog.*

httpd-vufind-vhosts.conf
local/config/vufind/server.ini

# Ignore documentation
public/doc
/start-vufind.sh

# Eclipse IDE
.classpath
.project
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.buildpath
.target
