File Edit Options Buffers Tools Help                                                                    
# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
vendor/.git

# SOLR index files:
_*
segments_*
segments.gen
write.lock
alphabetical_browse

tlog.*

httpd-vufind-vhosts.conf
